@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bokor&family=Caesar+Dressing&family=Kode+Mono:wght@400..700&family=New+Rocker&family=Potta+One&family=VT323&display=swap');

html{
    scroll-behavior: smooth;
}

.sidebar{
    /* width: 250px; */
    height: 100vh;
    background-color: #1b1a20;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar img,
.sidebar p-image img {
    border-radius: 50%;
    object-fit: cover;
}

.sbmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    height: 100vh;
}

.bounce-text {
    font-family: fantasy, sans-serif;
    font-size: 3rem;
    color: #57ff24;
    display: inline-block;
    transition: 0.5s;
    position: relative;
    animation: bounce 0.6s infinite alternate ease;
}

.gradient{
    font-family: "Alfa Slab One", serif;
    font-size: 2.7rem;
    display: inline-block;
    background: linear-gradient(to right, #56ea17, #16bf00, #91e401, #36b300, #56ea17);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 2.5s linear infinite;
}

.type-text {
    font-family: "VT323";
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    height: 4ch;
    padding: 0;
}

.three-steps{
    font-size: 3rem;
    color: #f8f000;
    animation: typingIDE .5s steps(5,end) forwards;
}
.dis-steps{
    font-size: 3rem;
    color: #e5532b;
    animation: typingDis 1s steps(4,end) forwards;
}

.eleven-steps{
    font-size: 4rem;
    color: #16bf00;
    animation: typing 2.5s steps(11,end) forwards alternate infinite;
}

.eleven-steps2{
    font-size: 3rem;
    color: #f89d00;
    animation: typing 1s steps(11,end) forwards ;
}

.fteen-steps{
    font-size: 3rem;
    color: #0008ff;
    animation: typingDB 1.5s steps(15,end) forwards;
}

.twsix-steps{
    font-size: 3rem;
    color: #16bf00;
    animation: typinglng 1.8s steps(26,end) forwards;
}

@keyframes typingDis {
    from { width: 0; }
    to { width: 4ch; }
}

@keyframes typingIDE {
    from { width: 0; }
    to { width: 5ch; }
}

@keyframes typingDB {
    from { width: 0; }
    to { width: 15ch; }
}

@keyframes typinglng {
    from { width: 0; }
    to { width: 26ch; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 11ch; }
}

@keyframes bounce {
    0% {
        top: 0;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #ccc,
        0 3px 0 #ccc,
        0 4px 0 #ccc,
        0 5px 0 #ccc,
        0 6px 0 #ccc,
        0 7px 0 #ccc,
        0 8px 0 #ccc;
    }
    100% {
        top: -10px;
        text-shadow: 0 10px 20px #222, 0 1.5px 0 #ccc, 0 2.5px 0 #ccc, 0 3.5px 0 #ccc;
    }
}

@keyframes gradientAnimation {
    to {
        background-position: 200%;
    }
}